---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta left">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

    {% if page.tags %}
        <p class="post-meta right">
            {{ page.tags | join: ", " }}
        </p>
    {% endif %}
  </header>

  <article class="post-content clear markdown-body">
    {{ content }}
  </article>

  {% include comments.html %}

</div>
